body {
  font-family: Cairo, Verdana, sans-serif;
  font-weight: 300;
  line-height: 2em;
  width: auto;
  margin: 0%;
  background-color: var(--blue50);
  max-width: 100%;
  overflow-x: hidden;
}
/*opmaak main logo*/
.divlogomain {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 24px auto;
}
.divlogomain span {
  color: var(--primary);
  font-family: Cairo, Roboto, sans-serif;
  font-size: 2.8em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.divlogomain img{
  max-width: 100%;
  opacity: 0.24;
  rotate: 16deg;
  transition: rotate 0.5s ease-in-out;
}
.divlogomain:hover img{
  rotate: -16deg;
}
#logomain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}
@media only screen and (max-width: 600px) {
  #logomain {
    width: 75px;
    height: 75px;
    margin: 12px auto;
  }
}
/*actergrondkleur menubalk*/
.wrapper {
  background-color: var(--primary);
  overflow: hidden;
  width: 100%;
  position: sticky;
  padding: 10px 2%;
  top:0;
}
.navflex {
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
}
.breadcrumb ul{
  list-style: none;
  display: inline;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0px 0px;
  color: #ffffff;
  text-align:left;
}
.navbtns {
  width: auto;
  margin-right: 2.5%;
  text-align: center;
  /* overflow: hidden; */
}

/*opmaak van de links in de navigatie bar*/
.menuitems {
  float: right;
  color: #ffffff;
  padding: 5px 7.5px;
  font-size: 1.2em;
  text-decoration: none;
}
/*opmaak van de homebutton in de navigatie bar*/
.homebtn {
  color: #ffffff;
  text-decoration: none;
  float: left;
}

/*kleur veranderen bij hover*/
.homebtn:hover {
  background-color: var(--complementary);
}
.navbtns a:hover {
  background-color: var(--complementary);
}
/*opmaak hoofdcontent*/
.contentmain {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*align-items: center;*/
  justify-content: space-between;
}
/*content left Consumenten*/
.contentleft {
  background-color: var(--cyan50);
  /*overlay color*/
  float: left;
  /*width nog aanpassen*/
  min-width: 320px;
  border: 5px;
  border-style: solid;
  border-color: var(--analogous1);
  text-align: center;
  cursor: pointer;
  /*
  Klikbare verwijzing plaatje met overlay:
< x href=”#”>
Img scr =”x” alt… etc</x>(style passend in class)
<div class="overlay">Informatie voor consumenten</div>
</x>*/
}
/*content middle Ondernemers*/
.contentmiddle {
  background-color: var(--pink50);
  /*overlay color?*/
  display: inline-block;
  min-width: 320px;
  border: 5px;
  border-style: solid;
  border-color: var(--triadic2);
  text-align: center;
  cursor: pointer;
  /*
  Klikbare verwijzing plaatje met overlay:
  < x href=”#”>
  Img scr =”x” alt… etc</x>(style passend in class)
  <div class="overlay">Informatie voor ondernemers</div>
  </x>*/
}
/*content right Partners*/
.contentright {
  background-color: var(--purple50);
  /*overlay kleur?*/
  float: right;
  min-width: 320px;
  border: 5px;
  border-style: solid;
  border-color: var(--triadic1);
  text-align: center;
  cursor: pointer;
  /*
  Klikbare verwijzing plaatje met overlay:
  < x href=”#”>
  Img scr =”x” alt… etc</x>(style passend in class)
  <div class="overlay">Informatie voor partners</div>
  </x>*/
}
/*3 kolommen maken van de content op de homepage*/
.contentleft,
.contentmiddle,
.contentright {
  width: 28%;
  margin: 1% auto;
}
/*center h3 in contentmain*/
.contentmain h3 {
  text-align: center;
}
#demo {
  width: 100%;
  text-align: center;
}
.defaultcontentleftupper {
  min-width: 320px;
  width: 33%;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: var(black);
  align-self: center;
  margin: 3em;
}
#scannen {
  width: 100%;
}
.defaultcontentrightupper {
  min-width: 400px;
  width: 50%;
  align-items: center;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: var(black);
}
.defaultcontentrightunder {
  min-width: 320px;
  width: 30%;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: var(black);
  margin-top: 3em;
}
.defaultcontentleftunder {
  min-width: 320px;
  width: 50%;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: var(black);
  margin-top: 3em;
  align-self: center;
  margin: 3em;
}
.defaultcontentpartners {
  text-align: center;
}
#qr_procedure {
  width: 100%;
  height: 400px;
}

#aanvullen {
  margin-top: 3em;
  width: 250px;
}
@media only screen and (min-width: 1350px) {
  #aanvullen {
    width: 350px;
    margin-top: 0;
  }
}
#opties {
  width: 250px;
  float: right;
}
@media only screen and (min-width: 768px) {
  #reclame {
    width: 350px;
    margin-top: 0;
  }
}
/* kleuren van wrapper voor verschillende pagina's */
#wrapperconsumenten {
  background-color: var(--analogous1);
}
#wrapperondernemers {
  background-color: var(--triadic2);
}
#wrapperpartners {
  background-color: var(--triadic1);
}
#aardbei,
#ondernemers,
#partners {
  width: 100%;
  height: 220px;
}
.navbtns .icon {
  display: none;
}

/* When the screen is higher than 600 pixels wide, hide menu button */
@media screen and (min-width: 600px) {
  .toggleNav {
    display: none;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  #myTopnav {
    display: none;
  }

  .toggleNav {
    float: right;
    background-color: var(--primary);
    border: none;
  }
  .toggleNav:hover {
    background-color: var(--complementary);
  }

  /* .navbtns a {
    display: none;
  }
  .navbtns a.icon {
    float: right;
    display: block;
  } */
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  #myTopnav.responsive {
    display: block;
    width: 100%;
  }

  #myTopnav a {
    text-align: left;
    width: 100%;
    margin: 0px -3%;
  }

  /* .navbtns {
    display: block;
  }
  .navbtns.responsive {
    position: relative;
  }
  .navbtns.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbtns.responsive a {
    float: none;
    display: block;
    text-align: left;
  } */
}
/*contact link vormgeven*/
.contactbtn {
  float: right;
  color: #f2f2f2;
  padding: 5px 7.5px;
  text-decoration: none;
  font-size: 1.5em;
}
/*kleur veranderen bij hover*/
.contactbtn:hover {
  background-color: var(--complementary);
}
/*contact pop up opmaak*/
.contactpopup {
  display: none;
}

.show-popup {
  display: initial;
}

.popbtn {
  color: black;
}

.contactpopup {
  max-width: 1200px;
  width: 95%;
  position: fixed;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #d0d2cf;
  opacity: 0.9;
}

.contactleft {
  float: left;
  margin-left: 20%;
  text-align: center;
}

.contactright {
  float: middle;
  text-align: center;
  height: 10%;
}
.modal.show {
  display: block;
}

#close {
  cursor: pointer;
  color: rgb(3, 3, 3);
  position: absolute;
  top: 0;
  font-size: 25px;
  right: 0;
  padding: 1rem;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .contactpopup {
    flex-direction: row;
    padding: 2rem;
    text-align: left;
  }
  .modal__img {
    max-width: 50%;
  }
}

/* Button opmaak */
button {
  background-color: transparent;
  border: none;
  display: inline;
  color: #ffffff;
  float: right;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5%;
}

button:hover {
  background-color: var(--complementary);
}

#privacy {
  float: right;
  width: 55%;
  margin-left: 2em;
}

#stijging {
  float: left;
  height: 200px;
  margin-right: 2em;
}

#reclame {
  float: right;
  width: 200px;
  margin-top: 8em;
  margin-left: 2em;
}

@media only screen and (min-width: 768px) {
  #reclame {
    width: 400px;
    margin-top: 0;
  }
}
@media only screen and (max-width:1001px){
  .defaultcontentrightunder,
.defaultcontentrightupper,
.defaultcontentleftunder, 
.defaultcontentleftupper {
  width: 28%;
  margin: 1% auto;
}
}


@media only screen and (min-width: 1002px) {
  .contentdemo {
    display: block;
    align-self: center;
  }
}

.defaultcontentconsumenten,
.defaultcontentondernemers,
.defaultcontentpartners,
.contentdemo {
  font-family: "Roboto", verdana, sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: grey;
}

@media only screen and (min-width: 1001px) {
  .footerbelow {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: grey;
  }
}

@media only screen and (max-width: 1000px) {
  .footerbelow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: grey;
  }
}
#alinea2ondernemers{  
  padding-top: 10%;
}
