header {
  margin: 24px auto;
  width: 120px;
  height: 120px;
  position: relative;
}

header img {
  max-width: 100%;
  opacity: 0.24;
  rotate: 16deg;
  transition: rotate 0.5s ease-in-out;
}

header:hover img {
  rotate: -16deg;
}

header span {
  color: dodgerblue;
  font-family: Cairo, Roboto, sans-serif;
  font-size: 2.8em;
  font-weight: 700;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
